.header {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin-bottom: 24px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul {
  display: flex;
}
.ul .li {
  list-style-type: none;
  margin: 0 16px;
}
